.header{
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: #2FDBBC;
    position: sticky;
    top:0;
    box-shadow: 0 5px 5px -6px black;
    margin-bottom: 20px;
    justify-content: space-between;
    
}

.logo{
    display: flex;
    flex-grow: 4;
    justify-self: center;
    justify-content: center;
    margin-left: 30px;
}
.searchBox{
    flex-grow: 5;
    display: flex;
    width: 50%;
    height: 40px;
    border: 3px solid #F99928;
    border-radius:16px;
    
}

.drop-style{
    flex-grow: 1;
    background: none;
    border: none;
    height: 38px;
    margin: 0 20px;
    width: 10%;
    
}

.input-style{
    flex-grow: 3;
    width: 70%;
    line-height: 40px;
    border: none;
    padding: 0 15px;
    font-family: 'Poppins';
   
  
}

.searchBox:hover{
    box-shadow: 1px 1px 5px yellow;
    border: 3px solid orange;
    font-family: 'Poppins';
   
}
.cart{
    flex-grow: 2;
    display: flex;
    flex-direction: row-reverse;
}
.profile{
   display: flex;
   text-align: center;
   flex-grow: 1;
   
    
}

.image-styles{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid #2FDBBC;
    align-self: center;
    position: absolute;
    top:10px;
    border:4px solid white;
   
   
}


.profile:hover .toltipStyle{
    visibility: visible;
    
    
}

.toltipStyle{
    visibility: hidden;
    height: 70px;
    padding: 20px;
    background: #2FDBBC;
    color: white;
    font-weight: 600;
    font-family: 'Poppins';
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 0 0 8px 8px;
    top: 80px;
    border: 1px solid #F99928;
    z-index: 9999;
    transition-delay: 1s;
    transition-timing-function: ease-in-out;
   
}

 
.ant-badge-count{
    box-shadow: none
}