*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container-fluid{
    width: 100%;
    font-family: 'Bebas Neue', cursive;
    background-color: #FFFFFF;
    /* padding: 30px 10px; */
    
}

.common-efood{
    color:#2D2D2D;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
}

.common-text{

    color:#2FDBBC;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    font-style: normal;
    padding-left: 20px;
   

}

.common-input{
    width: 100%;
    height: 40px;
    background:  #F4F4F4;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    color: #2FDBBC;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    
}

.common-top-margin{
    margin-top: 30px;
   
}