.hello-style{
    display: flex;
    justify-content: space-between;
}

.jhone{
    font-family: 'Popins';
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #2D2D2D;
}

.home{
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
    color: #F99928;
    line-height: 14px;
    margin-right: 15px;
    margin-top: 5px;
}

.location-icon{
    width: 16.5px;
    height: 20px;
    
}

.get-discount{
    width: 100%;
    height: 150px;
    border-radius: 10px;
    background: #67E5CE;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.discount{
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.use-code{
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 14.5px;
    color: #FFFFFF;
}

.reco-style{
    color: #2D2D2D;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    font-style: normal;
}

.price-style{
    color: #2FDBBC;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    margin-left: -10px;
}

.company{
    display: flex;
}

.loveVector{
    position: relative;
    top: -55px;
    left: 90%;
    background-color: red;
    width: 22px;
    height: 22px;
    border-radius: 5px;
    text-align: center;
    

}
.loveVectorUnlike{
    position: relative;
    top: -55px;
    left: 90%;
    background-color: #D3D2CD;
    width: 22px;
    height: 22px;
    border-radius: 5px;
    text-align: center;
}


#tab-bar.demo {
    display: flex;
    flex-direction: column;
  }
  #tab-bar .demoName {
    height: 40px;
  }
  #tab-bar .demo-preview-item .am-tab-bar {
    background-color: white;
  }



  .ant-carousel .slick-slide {
    text-align: center;
    height: 360px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }