.slamon-style{
    font-size: 36px;
    line-height: 43px;
    color: #2d2d2d;
    font-weight: 400;
    font-style: normal;
}
.neutious{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #F99928;
    margin-top: -40px;
}

.times{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #F99928;
    margin-top: 5px;
}

.not-odit{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    font-style: normal;
    color: #A3A3A3;
}

.item-dec-incr{
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: 40px;
    background:  #e9e9e9;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    color: #2FDBBC;
    font-weight: 400;
    font-size: 18px;
    border: none;
    margin-top: 30px;
}

.number-of-item{
    font-family: 'Poppins';
    flex-grow: 3;
    text-align: left;
    margin-left: 20px;
    color:#2d2d2d
}

.increment{
  
    justify-content: center;
    flex-grow: 2;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 25px;
    cursor: pointer;

}

.decrement{
    justify-content: center;
   
    flex-grow: 2;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 25px;
    cursor: pointer;
  
}

.basket{
    font-size: 36px;
    line-height: 43px;
    color: #2d2d2d;
    font-weight: 400;
    font-style: normal;
}

.total{
    color: #F99928;
    font-weight: 400;
    font-size: 36px;
    font-style: normal;
    line-height: 43px;
}

.total-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #2d2d2d;
    font-style: normal;
}

.name-style{
    font-family: 'Poppins';
    color: #2d2d2d;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}

.pric-style{
    
    color: #2FDBBC;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    font-style: normal;
    margin-top: 30px;
}

.amount{
    margin-top: 30px;
    line-height: 28px;
  
    
}

.btn-design{
  background-color:#2FDBBC ;
  width: 100%;
  text-align: center;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  line-height: 50px;
  font-size: 34px;
  cursor: pointer;
  border-radius: 30px;
    
}

.ant-carousel .slick-slide{
    height:340px ;
}
.ant-carousel .slick-dots li button{
    
    background-color:white;
    opacity: 1;
}

.ant-carousel .slick-dots li.slick-active button{
    background-color: #2FDBBC;
}

.ant-list-split .ant-list-item{
    border-bottom: none;
    position: relative;
}

 