.checkout{
    font-weight: 400;
    font-size: 36px;
    font-style: normal;
    line-height: 43px;
    color: #2D2D2D;
}

.price{
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
    line-height: 14px;
    color: #2D2D2D;
}

.dollar-style{
    font-weight: 400;
    font-size: 36px;
    font-style: normal;
    line-height: 43px;
    color: #2FDBBC;
}

.checkOut{
    width: 100%;
    height: 40px;
    background-color: #2FDBBC;
    border-radius: 20px;
    text-align: center;
    line-height: 36px;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
   
}

.home-style{
    font-family: 'Poppins';
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    color: #2D2D2D;
}

.change{
    font-family: 'Poppins';
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    color: #F99928;

}

 /* order confirm  */

 .order-confirm{
     font-weight: 400;
     font-size: 36px;
     line-height: 43.2px;
     font-style: normal;
     color: #FFFFFF;
     margin-top: 20px;

 }

 .hang-on{
     font-family: 'Poppins';
     font-weight: 500;
     font-size: 14px;
     line-height: 21px;
     font-style: normal;
     color: #FFFFFF;
     margin-top: 30px;
     
 }

 .order-track{
    width: 100%;
    height: 40px;
    background:  #F4F4F4;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    color: #2FDBBC;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    margin-top: 100px;
    cursor: pointer;
 }

 /* MY address page */

 .my-address{
     font-weight: 400;
     font-size: 36px;
     color: #2D2D2D;
     font-style: normal;
     line-height: 43.2px;

 }

 .party-place{
     color: #F99928;
     font-weight: 400;
     font-size: 12px;
     line-height: 14.4px;
     font-style: normal;
 }

 .apt-style{
     font-family: 'Poppins';
     font-weight: 500;
     font-style: normal;
     font-size: 14px;
     line-height: 21px;
     color: #2D2D2D;

 }

 .office{
    color: #2D2D2D;
     font-weight: 400;
     font-size: 12px;
     line-height: 14.4px;
     font-style: normal;
 }

 .suit{
    font-family: 'Poppins';
     font-weight: 500;
     font-style: normal;
     font-size: 14px;
     line-height: 21px;
     color: #A3A3A3;
 }

 .add-new-address{
    width: 100%;
    height: 36px;
    background:  #2FDBBC;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    margin-top: 50px;
    cursor: pointer;
 }