.image-style{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid #2FDBBC;
    align-self: center;
   
}

.name-styles{
    font-family: 'Poppins';
    margin-top: 10px;
    text-align: center;
    margin-bottom: 30px;
}

.sub-profile{
    display: flex;
    margin-top: 20px;
}

.account-profile{
  flex-grow: 8;
  font-family: 'Poppins';
  color: #2D2D2D;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

/* ACCOUNT AND PROFILE */

.acc-and-pro{
    font-weight: 400;
    font-size: 36px;
    font-style: normal;
    line-height: 43px;
    color: #2D2D2D;
}

.delete-icon{
   flex-grow: 2;
   width: 18.33px;
   height: 18.33px;
   
}

.delete-text{
    flex-grow: 10;
    font-family: 'Poppins';
    color: #F77272;
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    font-style: normal;
}

.email-input{
    width: 100%;
    height: 40px;
    background:  #F4F4F4;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    color: #2FDBBC;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
   
}

/* ORDER HISTORY */

.date-style{
    color: #F99928;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.4px;
    font-style: normal;
}

.items-order{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    line-height: 21px;
    color: #A3A3A3;
}

.view-details{
    width: 100%;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    color: #2FDBBC;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    border: 2px solid #2FDBBC;
    cursor: pointer;
}

/* TRACK ORDER */

.price-total{
    color: #2FDBBC;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin-top: -30px;
}
.egg-salad{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    line-height: 21px;
    color: #2D2D2D;
}

.pises{
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 21.6px;
    color: #A3A3A3;
}

/* CONTACT SUPPORT  */

.media-style{
    flex-grow: 10;
    font-family: 'Poppins';
    color: #2D2D2D;
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    font-style: normal;
}

/* REFFER TO A FRIEND */

.refer-code{
    color:#2FDBBC;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    font-style: normal;
    padding-left: 20px;
    margin-top: 50px;
}

.code-style{
    width: 100%;
    height: 40px;
    background:  #F4F4F4;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    color: #2FDBBC;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
  
}

/* TERM AND CONDITIONS */

.title-styling{
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 28.8px;
    color: #2D2D2D;

}

.descrip-styling{
    margin-top: -10px;
    font-family: 'Poppins';
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    color: #A3A3A3;

}

/* logoutmodal style */

.calcelButton{
    width: 100%;
    height: 40px;
    background-color: rgb(241, 78, 78);
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    
    margin-top: 30px;
    cursor: pointer;
}

